<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectName</key>
	<string>$PROJECT_NAME</string>
	<key>kAPIHeaders</key>
	<dict>
		<key>X-Parse-Application-Id</key>
		<string>HT1sV7Uers3Bj7TRtAcbq2cWysXlcoDJfYqPxrmy</string>
		<key>X-Parse-REST-API-Key</key>
		<string>HcZ2K3z6LMQ2a3N8q95417X56ACm3Q18b4aqgEIK</string>
	</dict>
	<key>kAPIBaseURLString</key>
	<string>https://api.parse.com/1/</string>
	<key>mailSettings</key>
	<dict>
		<key>fromEmail</key>
		<string>login@mail.pl</string>
		<key>relayHost</key>
		<string>smtp.gmail.com</string>
		<key>relayPorts</key>
		<array>
			<integer>587</integer>
		</array>
		<key>requiresAuth</key>
		<true/>
		<key>login</key>
		<string>login@mail.pl</string>
		<key>password</key>
		<string></string>
		<key>wantsSecure</key>
		<true/>
	</dict>
</dict>
</plist>
